#connecting_line::before {
  content: '';
  position:absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 4px;
  background: #218380;
  z-index: -1;
}

#active {
  background-color: bg-teal-500;
  border: border-teal-500;
  color: white;
}



